@import url('modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./container.css');
@import url('./fonts.css');

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

h2 {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Poppins';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
