.about-me h2 {
  font-family: Impact;
  font-size: 52px;
  letter-spacing: 1.8px;
  line-height: 64px;
  color: #292929;
  margin-bottom: 40px;
}

.about-me h2 span {
  color: #00b068;
}

.foto {
  border-radius: 10px;
  width: 320px;
  height: 374px;
  margin-bottom: 40px;
}

.bio h3 {
  font-family: Poppins;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 32px;
}

.bio p {
  margin-bottom: 10px;
  color: #292929;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.bio {
  margin-bottom: 40px;
}

.education h3 {
  font-family: Poppins;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 32px;
}

.educ-element {
  color: #292929;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  list-style-type: disc;
}

.educ-element::marker {
  color: #00b068;
}

.educ-element:not(:last-child) {
  margin-bottom: 16px;
}

.education {
  margin-bottom: 40px;
}

.education-role {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.role h3 {
  font-family: Poppins;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 32px;
}

.content {
  flex-direction: column;
}

.bio {
  margin-left: 0;
  margin-top: 20px;
}

.fon {
  display: none;
}

.education-role {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .about-me h2 {
    font-size: 108px;
    letter-spacing: 1.8px;
    line-height: 124px;
  }

  .content {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }

  .foto {
    width: 336px;
    height: 392px;
    margin-top: 368px;
    max-width: none;
  }

  .bio {
    position: relative;
    margin-top: 0;
    margin-left: 32px;
  }

  .bio h3 {
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
  }

  .bio p {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
  }

  .fon {
    position: absolute;
    width: 336px;
    height: 252px;
    display: flex;
  }

  .about {
    margin-bottom: 24px;
  }

  .education h3 {
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
  }

  .role h3 {
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
  }

  .education-role {
    flex-direction: unset;
    gap: 32px;
  }

  .education {
    max-width: 55%;
  }

  .educ-element {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .about-me h2 {
    text-align: start;
  }

  .content {
    justify-content: center;
    margin-bottom: 80px;
  }

  .bio {
    max-width: 30%;
    margin-left: 136px;
  }

  .foto {
    width: 384px;
    height: 448px;
  }

  .fon {
    bottom: -10%;
    right: -5%;
    width: 384px;
    height: 288px;
  }

  /* .education-role {
    justify-content: center;
    gap: 136px;
  } */

  /* .education {
    max-width: 40%;
  } */
  .education-role {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 136px;
  }
  .educ-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .role-item {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
}
