.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.tablet-img {
    display: none;
}

.decstop-img {
    display: none;
}

.mob-img {
    display: block;
}

.text-projects {
    font-family: "Impact",
        sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    text-align: center;
    margin-bottom: 40px;
}

.span-projects {
    color: #00b068;
}


.text-div-projects {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-portfolio {
    margin-bottom: 12px;
    border-radius: 8px;
}

.technology-info {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    margin-bottom: 16px;
}

.portfolio-title {
    font-family: "Poppins",
        sans-serif;;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
    width: 320px;
    margin-bottom: 16px;
    text-align: left;
}

.link-projects {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    border-radius: 8px;
    background-color: #e4e5e6;
    padding: 12px 24px;
    transition: background-color 0.3s;
    transition: transform 0.3s ease;
            display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                width: 125px;
                    height: 48px;
                    margin-left: auto;
}
.svg-visit-arrow {
    transition: transform 0.3s ease;

}

.svg-visit-arrow:hover {
    transform: scale(1.2);
}

.link-projects:hover,
.link-projects:focus {
    background-color: #bbb;
    transform: scale(1.1);
}

.ul-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.li-projects {
    margin-bottom: 40px;
}

.link-info {
    text-align: right;
}

.load-more {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: transparent;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
}

.load-more::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #00b068;
    width: 0;
        background-color: #00b068;
        transition: width 0.3s ease;
}

.load-more:hover {
    color: #00b068;
}
.load-more:hover::after {
    width: 100%;

}

.load-more-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
            padding-left: 32px;
                padding-right: 32px;
    }

    .decstop-img {
        display: none;
    }

    .mob-img {
        display: none;
    }
.img-portfolio {
    margin-bottom: 16px;
}
    .tablet-img {
        display: block;
    }
.technology-info{
    margin-bottom: 20px;
}
    .text-projects {
        font-weight: 400;
        font-size: 108px;
        line-height: 115%;
        letter-spacing: 0.02em;
        text-align: center;
        width: 600px;
    }

    .portfolio-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: 0.01em;
        width: auto;
    }

    .link-info {
        display: flex;
    }

    .link-projects {
        border-radius: 8px;
        padding: 12px 24px;
        text-align: left;
        width: auto;

    }

}


@media screen and (min-width: 1280px) {
    .container {
        min-width: 1280px;
    }

    .tablet-img {
        display: none;
    }

    .mob-img {
        display: none;
    }

    .decstop-img {
        display: block;
    }

    .text-projects {
        margin-bottom: 60px;
    }

    .li-projects {
        margin-bottom: 80px;
    }

    .portfolio-title {
        width: auto;
    }

}

@media screen and (min-width: 320px) and (max-width: 360px) {


    .decstop-img {
        display: none;
    }

    .tablet-img {
        display: none;
    }

    .ul-project {
        min-width: 100%;
    }

    .container {
        max-width: 320px;

    }

    .img-portfolio {
        width: 100%;
    }

    .li-projects {
        width: 100%;
    }

    .text-projects {
        width: 100%;
        font-size: 48px;
    }
}