<section class="tech-skills container">
  <div class="marquee">
    <ul class="marquee__line">
      <li class="list">HTML/CSS</li>
      <li class="list">JavaScript</li>
      <li class="list">React</li>
      <li class="list">Node.js</li>
      <li class="list">React Native</li>
    </ul>
  </div>
  <div class="marquee rotation">
    <ul class="marquee__line">
      <li class="list-rot">HTML/CSS</li>
      <li class="list-rot">JavaScript</li>
      <li class="list-rot">React</li>
      <li class="list-rot">Node.js</li>
      <li class="list-rot">React Native</li>
    </ul>
  </div>
</section>
